<h1>Edit Members in Team <%= @team.name %></h1>

<%= render template: 'teams/members' %>

<%= link_to 'Save & Go Back', edit_team_path(@team) %>

<br><br>
<a href="#popup1"><h2>Confused?🤔 Get information here!</h2></a>

<div id="popup1" class="overlay">
  <div class="popup">
    <h3>Adding/Removing Team Members:</h3>
    <p style="margin-left:10px; margin-right:5%;">
      Wow, look at all those amazing people!!🤯
      <br>
      Time to embrace your love for the seven seas, because this pirate captain needs thier crew!🏴‍☠️
      <br><br>
      It's easy, we will help you:
    </p>
    <p style="margin-left:30px; margin-right:5%;">
      - Click on the "Add User" button next to each respective user to add them to this team or the "Remove User" button to remove them.
      <br>
      - When you are finished just click the "back" button and you are done! ##########IS THIS RIGHT/??
      <br><br>
    </p>
    <p style="margin-left:10px; margin-right:5%;">
      Soon you will smell the salt in the air and wind on your sails, because the crew is now ready to board a ship ⛵ to better team health!
    </p>
    <a href="#">close</a>
  </div>
</div>
