<h1>About our Application!</h1>
<center>
<p style="margin-left:10px; margin-right:5%;width:50vw;">
    <br>    
    Welcome to PAEN, a team health monitoring web application developed by 6 Management Engineering Undergraduate Students from the University of Waterloo. 
    This application was developed for Dr. Smucker's Winter 2021 MSCI 342 - Software Engineering class.
    <br> <br>
    Our application is named <b>PAEN</b> and its an acronym for <b>P</b>rofessional <b>A</b>ccessible <b>E</b>valuation <b>N</b>ow. 
    We aim to give a professionally focused solution, that is accessible to all users. 
    The goal of the program is to evaluate, and our site has 100% uptime and is available at all times.
    <br> <br>
    Our logo is a modern take on our application name and also contains our motto "A healthier team starts here".
    The primary focus of our application is to monitor team health and identify issues and weaknesses within teams.
    Our motto and logo embody our mission of ensuring all teams that use our application have their issues identified and solutions are being worked towards.
    
    <br> <br>
    <br> <br>
    <br> <br>
    
    <div class="link-container"><%= link_to 'Return to Dashboard', user_dashboard_path %></div>
        
</p>
</center>