<h1>Welcome <%= @user.first_name.capitalize %>!</h1>

<table>
  <thead>
    <tr>
      <th>My Teams</th>
      <th>Weekly Survey</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, user_team_list_path(id: team.id) %></td>
        <td><% if @completed[team] %>
                 Complete
            <% else %>
                 Incomplete
            <% end %>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>
    
<div>
    <span>
        <%= link_to 'Create A Ticket', new_ticket_path %>
        <a href="">View My Tickets</a>
    </span>
</div>
