<h2>list of members from dashboard navigation (need to add link to weekly surveys)</h2>
<%= render template: 'teams/members' %>

<%= link_to 'Weekly Surveys', weekly_surveys_path %>
<%= link_to 'Return to Dashboard', user_dashboard_path %>
