<h2>list of members from dashboard navigation</h2>
<%= render template: 'teams/members' %>

<%= link_to 'Weekly Surveys', weekly_surveys_path %>
<%= link_to 'Return to Dashboard', user_dashboard_path %>
