<h1><%= @team.name %>'s Tickets</h1>

<%= render template: 'tickets/list' %>

<%= link_to 'Return to Dashboard', manager_dashboard_path %>

<br><br>
<a href="#help"><h2>Confused?🤔 Get information here!</h2></a>

<div id="help" class="overlay">
  <div class="popup">
    <h3>My Team's Tickets:</h3>
    <p style="margin-left:10px; margin-right:5%;">
        This is the place to be if you want to know how your team feels about one another!
        <br><br>
        <b>Isn't that what the team health is for?</b>
        <br>
        Yes and no. The team health (displayed in your team view) shows you an overview of all of your team member's combined reflections and ratings of the previous week (and optionally, each other).
        <br><br>
        But what if your team member had more specific issues with another team member?
        <br>
        That is exaclty what a ticket is made for!😁
        <br><br>
        <b>So how do these tickets work?</b>
        <br>
        Every week, in addition to the survey, a team member may choose to create a ticket reflecting their personal concerns or feelings about other team members.
        <br><br>
        Within the ticket we allow the team member to select one of the members of that team and complete a form with the following prompts:
    </p>
    <p style="margin-left:30px">
        1. I've experience _____ communication with this person
        <br>
        2. I've experienced _____ behaviour with this person
        <br>
        3. I've experienced _____ teamwork with this person
        <br>
        4. I've experienced _____ availability with this person
        <br>
        Overall rating: _____
    </p>
    <p style="margin-left:10px; margin-right:5%;">
        For the numbered questions, the ticket creator will be able to choose one of the following options to complete the prompt the way they deem best:
    </p>
    <p style="margin-left:30px">
        1. great
        <br>
        2. typical
        <br>
        3. poor
    </p>
    <p style="margin-left:10px; margin-right:5%;">
        In addition to the numbered questions, the team member creating the ticket will also be able to submit an overall rating.
        <br><br>
        <b>So what? They can provide feedback. How does this affect me?</b>
        <br>
        Aside from being able to view direct feedback between team members, these ticket scores are factored into the team's weekly team health.
        <br><br>
        <b>Anything else I need to know?</b>
        <br>
        Oh yeah, one more thing. These tickets are completely optional for team members. We like to think of them as something that your team members should complete if the team health issue at hand needs to be highlighted to the team manager.
    </p>
    <a href="#">Close</a>
  </div>
</div>
