<h1>New Ticket</h1>

<%= render 'form', ticket: @ticket %>

<div class="back-link">
<%= link_to 'View all Tickets', user_tickets_path %> |
<%= link_to 'Go Back and Discard Changes', user_dashboard_path %>
</div>


