<h1>New Ticket</h1>

<p>Please select a team member to continue</p>

<%= render 'form', ticket: @ticket %>

<div class="user_team_links">
<%= link_to 'Go Back and Discard Changes', user_dashboard_path %>
</div>


