/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require_self
 */

a:link, a:visited {
    text-decoration: none;
    display: inline-block;
    margin: 10px 0px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

a:hover, a:active {
    background-color: white;
    text-decoration: underline;
    color: black;
}

.logout_button {
    float: right;
    color: #2a3063;
    background-color: #abaec7;
}

.logo {
    height: 80px;
}


.column-container {
    display: flex;
    flex-direction: column;
    width: 300px;    
    color: gray;
    font-weight: 400;
}

.row-container {
    display: flex;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.text-box {
    margin: 5px 0px;
}

input[type=submit] {
    margin: 10px 0px;
    padding: 10px 20px 10px 20px;
    background-color: #97aadfff;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

input[type=text], input[type=password] {
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 230px;
}

input[type=submit]:hover {
    background-color: rgb(175,175,175);
    color: white;
}



// Users CSS

.users_table tr:nth-child(even){background-color: #f2f2f2;}

.users_table tr:hover {background-color: rgb(216, 216, 216);}

.users_table th {
  background-color: #97aadfff;
  color: rgb(20, 20, 90);
}

.users_table td:hover {
    background-color: #97aadfff;
    color: rgb(20, 20, 90);
}
.users_table a:hover {
  background-color: #97aadfff;
}

.user_team_links a{
    color: rgb(20, 20, 90);
    text-decoration: none;
    text-decoration: overline;
    font-size: 20px;
}
.user_team_links a:hover{
    background-color: rgb(175,175,175);
    text-decoration: none;
    text-decoration: overline;
}
.user_team_links {
    color: rgb(20, 20, 90);
    text-decoration: overline;
    font-size: 20px;
}