// Place all the styles related to the Managers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.emojis {
    align-self: center;
    font-size: 90px;
}

.bar {
    margin: 10px 10px -15px 10px;
    height: 100px;
    width: 300px;
}

.value {
    text-align: center;
    margin: 0px;
}

// Source (https://eichefam.net/2011/12/21/popup-windows-without-javascript/) used CSS tutorial from here in order to successfully produce pop-ups without JS
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}

.popup {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 1000px;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  position: relative;
}

.overlay:target{
  visibility: visible;
  opacity: 1;
}

.close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}
