// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

input[type="radio"] {
    visibility:hidden;
}

input[type="radio"]:hover + .label{
    background-color: lightgray;
}


input[type="radio"]:checked + .label {
    background-color: #483d3fff;
    color: white;
}

.option-container {
    display: flex;
}
