// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
    margin: 15px 0px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    text-align: center; 
}

th, td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
}
table a{
    text-decoration: none;
}

.green {
    color: green;
}

.red {
    color: red;
}

.title {
    margin: 40px 0px -10px 0px;
}

.health-metrics-container {
    display: flex;
    float: right;
    align-items: center;
    margin: 0px 700px 40px 100px;
}

.emojis {
    align-self: center;
    font-size: 90px;
}

.bar {
    margin: 10px 10px -15px 10px;
    height: 100px;
    width: 300px;
}

.value {
    text-align: center;
    margin: 0px;
}


.user_team_links {
    color: rgb(20, 20, 90);
    text-decoration: overline;
    font-size: 18px;
}
.user_team_links a{
    color: rgb(20, 20, 90);
    text-decoration: none;
}
.user_team_links a:hover{
    background-color: rgb(175,175,175);
    text-decoration: none;
}
