// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table {
    margin: 15px 0px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    text-align: center; 
}

th, td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 5px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.title {
    margin: 40px 0px -10px 0px;
}

.health-metrics-container {
    display: flex;
    align-items: center;
    margin: 0px 0px 40px 0px;
}

.emojis {
    align-self: center;
    font-size: 90px;
}

.bar {
    margin: 10px 10px -15px 10px;
    height: 100px;
    width: 300px;
}

.value {
    text-align: center;
    margin: 0px;
}

