// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Source (https://www.w3schools.com/Css/css_positioning.asp) Used for learning how to position text and items in set locations in CSS

.form-container {
  margin-top: 30px;
  text-align: center;
}

.description-text-box{
  text-align: left;
  word-wrap: normal;
  overflow: auto;
  display: inline-block;
  word-break: break-word;
  margin: auto;
  min-width: 375px;
  min-height: 185px;
  max-width: 375px;
  max-height: 185px;
}

.right-container {
    margin: 0px 20px;
}

p {
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
}

.subtitle {
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.note {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}
